body{background: rgb(126, 75, 141);font-family: "Trebuchet MS", Arial, Helvetica, ans-serif;font-size: 15pt;}

header{color: white;text-align: center;}

section{background: white;width: 500px;padding: 15px;border-radius: 10px;margin: auto;box-shadow: 3px 3px 10px rgb(113, 36, 133);}

footer{color: white;text-align: center;}

#num{width: 50px}

